-# =form_for article, url: [article] do |f|
=form_for @article, :html => {class: 'col-xs-10 col-xs-offset-1'} do |f|

  =f.label :titre, :class => "col-md-2 col-md-offset-3 col-xs-4"
  =f.text_field :titre, :class => "col-md-5 formMargin col-xs-8"
  =f.label :entete, :class => "col-md-2 col-md-offset-3 col-xs-4"
  =f.text_area(:entete, size: '30x5', :class => "col-md-5 formMargin col-xs-8")
  =f.label :contenu, :class => "col-md-2 col-md-offset-3 col-xs-4"
  =f.text_area(:contenu, size: '50x10', :class => "col-md-5 formMargin col-xs-8")
  =f.file_field(:image, size: '50x10', :class => "col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-6")

  =f.submit 'Créer un article', :class => "col-xs-offset-4 col-sm-offset-6 btn btn-default"
