%h1.text-center= "Modify the article : #{@article.titre}"

=render partial: 'formArticle', locals: {article: @article}

%div.col-xs-12
  %p= link_to "Retour", [:articles], :class => 'btn btn-default col-xs-offset-5 col-sm-offset-0'  
