%div.row
  %h1.text-center Welcome on Hubico
  - Article.all.each do |article|
    - if article.user != nil
      %div.col-xs-12.col-sm-6.col-md-4
        .thumbnail
          %img{:src => "#{article.image}"}/
          .caption
            %h3= link_to "#{article.titre}", [article]
            %p= "Date : #{article.date}"
            %p= "Auteur : #{article.user.prenom}"
  %p.copyright= "Copyright Hubert Moncenis & Nicolas Fèvre © 2017"          
