%div.row
  %h1.text-center= "Ajouter un article"

  =render partial: 'formArticle', locals: {article: @article}

%div.col-xs-12
  %p= link_to "Retour", [:articles], :class => 'btn btn-default col-xs-offset-5 col-sm-offset-0'
