.container
  .col-lg-10.col-lg-offset-1
    %h2= "#{@article.titre}"
    %p.lead= link_to"#{@article.user.prenom}"" #{@article.user.nom}", @article.user
    %hr
    %p
      %span.glyphicon.glyphicon-time
        #{@article.date}
    %hr
    %img.img-responsive{:src => "#{@article.image}", :size => '260x180'}/
    %hr
    %p.lead= "#{@article.entete}"
    %p= "#{@article.contenu}"


    - if current_user
      - if @article.user.id == current_user.id
        =link_to [:edit,:article], class: "btn btn-warning" do
          = "Modifier"
          %span.glyphicon.glyphicon-pencil
        =link_to [:article], {:method => :delete}, class: "btn btn-warning" do
          = "Supprimer"
          %span.glyphicon.glyphicon-trash

    %hr
    - if current_user
      .well
        %h4 Ajouter un commentaire :
        =form_for @commentaire = Commentaire.new, url:[@article,@commentaire], :html => {:class => 'row'} do |f|
          =f.text_area :contenu, :class => "form-control", :placeholder => 'Entrez votre commentaire ici...'
          =f.submit :class => "btn btn-primary"
    %hr

    - @article.commentaires.each do |commentaires|
      .media
        %a.pull-left
          %img.media-object{ gravatar_attrs("#{commentaires.user.email}", :size => 70) }/
        .media-body
          %h4.media-heading= "#{commentaires.user.prenom} #{commentaires.user.nom}"
          .small= "#{commentaires.date_commentaire}"
          %p= "#{commentaires.contenu}"
        -if commentaires.user == current_user
          =link_to [@article, commentaires],{:method => :delete} do
            %span.glyphicon.glyphicon-trash


%div.col-xs-12
  %p= link_to "Retour", [:articles], :class => 'btn btn-default col-xs-offset-5 col-sm-offset-0'
