/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body{
  padding: 50px;

  label{padding: 0 !important;}
  h1{margin: 50px auto;}

  .formMargin, input[type="file"]{
    margin-bottom: 20px;

    input{
      &:last-of-type{
        margin-top: 20px;
      }
    }
  }

  .manager{
    margin-bottom: 50px;
  }

  input[type='submit']{
      margin-top: 40px;
      margin-bottom: 40px;
  }

  .profil{
    width: auto;
    p{display: inline-block;margin-right: 30px;}
  }

  .media{
    position: relative;
    margin-bottom: 25px;

    span {
      position: absolute;
      right: 0;
      top: 25%;
    }
  }

  .copyright{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width:550px) {
  body{
    padding: 15px;
  }
}
