=form_for user, :html => {class: 'col-xs-10 col-xs-offset-1'}, url: [user] do |f|
  =f.label :prenom, :class => "col-md-2 col-md-offset-3 col-xs-12"
  =f.text_field :prenom, :class => "col-md-5 formMargin col-xs-12"
  %br
  =f.label :nom, :class => "col-md-2 col-md-offset-3 col-xs-12"
  =f.text_field :nom, :class => "col-md-5 formMargin col-xs-12"
  %br
  =f.label :email, :class => "col-md-2 col-md-offset-3 col-xs-12"
  =f.text_field :email, :class => "col-md-5 formMargin col-xs-12"
  %br
  =f.label :password, :class => "col-md-2 col-md-offset-3 col-xs-12"
  =f.password_field :password, :class => "col-md-5 formMargin col-xs-12"
  %br
  =f.label :password_confirmation, :class => "col-md-2 col-md-offset-3 col-xs-12"
  =f.password_field :password_confirmation, :class => "col-md-5 formMargin col-xs-12"
  %br
  =f.submit 'Créer un compte', :class => "col-xs-offset-4 col-sm-offset-6 btn btn-default"
  %br

  %br
