%h1.text-center= "Modifier : #{@user.prenom}"

=render partial: 'formUser', locals: {user: @user}

%div.col-xs-12
  %p= link_to "Retour", [:articles], :class => 'btn btn-default col-xs-offset-5 col-sm-offset-0'
