%div.row
  %h1.text-center= "Créer une compte !"
  =render partial: 'formUser', locals: {user: @user}

%div.col-xs-12
  %p= link_to "Retour", [:articles], :class => 'btn btn-default col-xs-offset-5 col-sm-offset-0'
