%h1.text-center= "La page profil de #{@user.prenom}"
%div.col-xs-12.col-md-8.col-md-offset-2
  %div.jumbotron
    %p.text-center= "Prénom : #{@user.prenom}"
    %p.text-center= "Nom : #{@user.nom}"
    %p.text-center= "Email : #{@user.email}"

- if current_user
  - if @user.id == current_user.id
    %div.manager
      =link_to [:edit,:user], class: "btn btn-warning col-xs-offset-3 col-sm-offset-4 col-md-offset-5" do
        = "Modifier"
        %span.glyphicon.glyphicon-pencil
      =link_to [:user],{:method => :delete}, class: "btn btn-warning" do
        = "Supprimer"
        %span.glyphicon.glyphicon-trash

%div.col-xs-12
  %p= link_to "Retour", [:articles], :class => 'btn btn-default col-xs-offset-5 col-sm-offset-0'
