%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hubico
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'jquery_ujs'
  %body
    %div.profil.text-right
      - if current_user
        %p= link_to "Nouvel article", [:new,:article], :class => 'btn btn-default'
        %p= link_to "Profile", [current_user], :class => 'btn btn-default'
        %p= link_to "Se déconnecter", destroy_user_session_path, :method => :delete, :class => 'btn btn-default'
      - else
        %p= link_to "S'inscrire", [:new,:user], :class => 'btn btn-default'
        %p= link_to "Se connecter", new_user_session_path, :class => 'btn btn-default'
    = yield
